
@{
    ViewData["Title"] = "Create";
}
@model EventCreateInput


<!DOCTYPE html>
<html lang="en" class="h-100">

<!-- Mirrored from www.gambolthemes.net/html-items/barren-html/disable-demo-link/create_online_event.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jul 2023 19:02:06 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=9">
	<meta name="description" content="Gambolthemes">
	<meta name="author" content="Gambolthemes">
	<title>Barren - Simple Online Event Ticketing System</title>

</head>

<body class="d-flex flex-column h-100">
	<!-- Header Start-->

	<!-- Header End-->
	<!-- Body Start-->
	<div class="wrapper">
		
		<div class="event-dt-block p-80">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-12 col-md-12">
						<div class="main-title text-center">
							<h3>Create Event</h3>
						</div>
					</div>
					<div class="col-xl-8 col-lg-9 col-md-12">
						<div class="wizard-steps-block">
							<div id="add-event-tab" class="step-app">
								<ul class="step-steps">
									<li class="active">
										<a href="#tab_step1">
											<span class="number"></span>
											<span class="step-name">Details</span>
										</a>
									</li>
							
								</ul>
								<form asp-controller="Events" asp-action="Create" method="post" enctype="multipart/form-data">
									<div asp-validation-summary="ModelOnly"></div>
									<div class="step-content">
										<div class="step-tab-panel step-tab-info active" id="tab_step1">
											<div class="tab-from-content">
												<div class="main-card">
													<div class="bp-title">
														<h4><i class="fa-solid fa-circle-info step_icon me-3"></i>Details</h4>
													</div>
													<div class="p-4 bp-form main-form">
														<div class="row">
															<div class="col-lg-12 col-md-12">
																<div class="form-group border_bottom pb_30">
																	<label asp-for="Title" class="form-label fs-16">Give your event a name.*</label>
																	<input asp-for="Title" class="form-control h_50" type="text" placeholder="Enter event name here" value="">
																	<span class="text-danger" asp-validation-for="Title"></span>
																</div>
																<div class="form-group border_bottom pt_30 pb_30">
																	<label for="exampleFormControlInput1" class="form-label" asp-for="CategoryId">Choose a category for your event.*</label>
																	<select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.categoryList">
																		<option value="">Select category</option>
																	</select>

																	<span class="text-danger" asp-validation-for="CategoryId"></span>
																	
																</div>
																<label for="exampleFormControlInput1" class="form-label" asp-for="Location">Choose a location for your event.*</label>
																<select asp-for="Location" class="form-control">
																	<option value="">Select location for your event</option>
																	<option value="Sea breeze">Sea breeze</option>
																	<option value="Baku Olympic Stadium">Baku Olympic Stadium</option>
																	<option value="Heydar Aliyev Palace">Heydar Aliyev Palace</option>
																	<option value="Baku Sports Hall">Baku Sports Hall</option>
																	<option value="EGP Arena">EGP Arena</option>
																	<option value="Best Place Baku">Best Place Baku</option>
																	<option value="Nizami Cinema">Nizami Cinema</option>
																	<option value="Azerbaijan Art School">Azerbaijan Art School</option>
																	<option value="Academic National Drama Theatre">Academic National Drama Theatre</option>
																	<option value="The State Museum of Musical Culture of Azerbaijan">The State Museum of Musical Culture of Azerbaijan</option>
																</select>

																<div class="col-md-6">
																	<label asp-for="EventDateTime" class="form-label mt-3 fs-6">Event Date and Time.*</label>
																	<div class="loc-group position-relative">
																		<input asp-for="EventDateTime" class="form-control h_50" type="datetime-local">
																		<span asp-for="EventDateTime" class="absolute-icon"><i class="fa-solid fa-calendar-days"></i></span>
																	</div>
																</div>

															@*	<div class="form-group border_bottom pt_30 pb_30">
																	<label class="form-label fs-16">When is your event?*</label>
																	<p class="mt-2 fs-14 d-block mb-3">Tell your attendees when your event starts so they can get ready to attend.</p>
																	<div class="row g-2">
																		<div class="col-md-6">
																			<label class="form-label mt-3 fs-6">Event Date.*</label>
																			<div class="loc-group position-relative">
																				<input class="form-control h_50 datepicker-here" data-language="en" type="text" placeholder="MM/DD/YYYY" value="">
																				<span class="absolute-icon"><i class="fa-solid fa-calendar-days"></i></span>
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="row g-2">
																				<div class="col-md-6">
																					<div class="clock-icon">
																						<label class="form-label mt-3 fs-6">Time</label>
																						<select class="selectpicker" data-size="5" data-live-search="true">
																							<option value="00:00">12:00 AM</option>
																							<option value="00:15">12:15 AM</option>
																	
																						</select>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<label class="form-label mt-3 fs-6">Duration</label>
																					<select class="selectpicker" data-size="5" data-live-search="true">
																						<option value="15">15m</option>
																						<option value="30">30m</option>
																					
																					</select>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>*@



																<div class="">
																	<label >Add a image to your event banner.</label>
																	<input asp-for="PhotoFormFile" type="file" class="form-control">
																	<label asp-for="PhotoFormFile">Change Image</label>
																<div/>
																<div>
																	<label asp-for="Description" class="form-label">Please describe your event</label>
																	<textarea asp-for="Description" class="form-control"></textarea>
																	<span class="text-danger" asp-validation-for="Description"></span>
																
																</div>
																
															</div>
														</div>
														<div class="ticket-section">
															<label class="form-label fs-16">Let's create tickets!</label>
															<p class="mt-2 fs-14 d-block mb-3 pe_right">Add the ticket price. For free events, keep the price at $0.</p>
															<div class="content-holder">
																<div class="row g-3">
																	<div class="col-md-6">
																		<label asp-for="Price" class="form-label mt-3 fs-6">Price*</label>
																		<div class="loc-group position-relative input-group">
																			<input asp-for="Price" class="form-control h_50" type="text">
																		
																		</div>
																		<span class="text-danger" asp-validation-for="Price"></span>
																	</div>
																	@*<div class="col-md-6">
																		<label class="form-label mt-3 fs-6">Total number of tickets available*</label>
																		<div class="input-number">
																			<input class="form-control h_50" type="number" placeholder="" value="5">
																		</div>
																	</div>*@
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										
									</div>
									<button type="submit" class="btn btn-default btn-hover steps_btn">Create</button>
								</form>
							
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- Body End-->


</body>

<!-- Mirrored from www.gambolthemes.net/html-items/barren-html/disable-demo-link/create_online_event.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jul 2023 19:02:07 GMT -->
</html>

