*@{
    ViewData["Title"] = "SignIn";
}

@model Ticket.Web.Models.SigninInput


<html lang="en" class="h-100">

<!-- Mirrored from www.gambolthemes.net/html-items/barren-html/disable-demo-link/sign_in.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jul 2023 19:01:57 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=9">
	<meta name="description" content="Gambolthemes">
	<meta name="author" content="Gambolthemes">
	<title>Barren - Simple Online Event Ticketing System</title>

	<!-- Favicon Icon -->
	<link rel="icon" type="image/png" href="~/images/fav.png">

</head>

<body>
<div class="form-wrapper">
	<div class="app-form">
		<div class="app-form-sidebar">
			<div class="sidebar-sign-logo">
					<img src="~/images/sign-logo.svg" alt="">
			</div>
			<div class="sign_sidebar_text">
				<h1>The Easiest Way to Create Events and Sell More Tickets Online</h1>
			</div>
		</div>
		<div class="app-form-content">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10 col-md-10">
						<div class="app-top-items">
							<a href="">
								<div class="sign-logo" id="logo">
										<img src="~/images/logo.svg" alt="">
										<img class="logo-inverse" src="~/images/dark-logo.svg" alt="">
								</div>
							</a>
							<div class="app-top-right-link">
								New to Barren?<a class="sidebar-register-link" asp-controller="Auth" asp-action="SignUp">Sign up</a>
							</div>
						</div>
					</div>
					<div class="col-xl-5 col-lg-6 col-md-7">
						<div class="registration">
								<div class="text-danger" asp-validation-summary="ModelOnly"></div>
								<form asp-controller="Auth" asp-action="SignIn" method="post">
								<h2 class="registration-title">Sign in to Barren</h2>
								<div class="form-group mt-5">
									<label asp-for="Email" class="form-label"></label>
									<input value="zulu22@gmail.com" asp-for="Email" class="form-control h_50" type="email" placeholder="Enter your email">
								    <span class="text-danger" asp-validation-for="Email"></span>
										
								</div>
								<div class="form-group mt-4">
									<div class="field-password">
										<a class="forgot-pass-link" href="forgot_password.html">Forgot Password?</a>
											
									</div>
									<div class="loc-group position-relative">
											<label asp-for="Password" for="exampleInputPassword1" class="form-label"></label>
											<input value="Password123!" asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
											<span class="text-danger" asp-validation-for="Password"></span>

									</div>
								</div>
									<button type="submit" class="main-btn btn-hover w-100 mt-4" >Sign In <i class="fas fa-sign-in-alt ms-2"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright-footer">
				© 2022, Barren. All rights reserved. Powered by Gambolthemes
			</div>
		</div>
	</div>
</div>



	<script src="/commonScripts/common-scripts.js"></script>


</body>
</html> 






@*<div class="row">

	<div class="col-md-4 offset-md-4">
		<div class="card">

			<div class="card-body">

				<h5 class="card-title">Üye Giriş</h5>
				<div class="text-danger" asp-validation-summary="ModelOnly"></div>
				<form asp-controller="Auth" asp-action="SignIn" method="post">
					<div class="mb-3">
						<label asp-for="Email" for="exampleInputEmail1" class="form-label"></label>
						<input type="email" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						<span class="text-danger" asp-validation-for="Email"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Password" for="exampleInputPassword1" class="form-label"></label>
						<input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1">
						<span class="text-danger" asp-validation-for="Password"></span>
					</div>
					
					<button type="submit" class="btn btn-primary">Giriş yap</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	var email = document.getElementById('exampleInputEmail1').value;
	var password = document.getElementById('exampleInputPassword1').value;
	console.log("Email: " + email);
	console.log("Password: " + password);
</script>*@