
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ticket.Web</title>
@*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ticket.Web.styles.css" asp-append-version="true" />*@


	<link href="~/commonStyles/common-styles.css" rel="stylesheet">

	
</head>

<body>

	@{
		var currentController = ViewContext.RouteData.Values["Controller"].ToString();
		var currentAction = ViewContext.RouteData.Values["Action"].ToString();

		if (!(currentController.Equals("Auth", StringComparison.OrdinalIgnoreCase) && currentAction.Equals("SignIn", StringComparison.OrdinalIgnoreCase)))
		{
			
	<header class="header">
		<div class="header-inner">
			<nav class="navbar navbar-expand-lg bg-barren barren-head navbar fixed-top justify-content-sm-start pt-0 pb-0">
				<div class="container">	
					<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
						<span class="navbar-toggler-icon">
							<i class="fa-solid fa-bars"></i>
						</span>
					</button>
					<a class="navbar-brand order-1 order-lg-0 ml-lg-0 ml-2 me-auto" asp-controller="Home" asp-action="Index">
								<div asp-controller="Home" asp-action="Index" class="res-main-logo">
							<img  src="~/images/logo-icon.svg" alt="">
						</div>
								<div asp-controller="Home" asp-action="Index" class="main-logo" id="logo">
									<img  src="~/images/logo.svg" alt="">
									<img class="logo-inverse" src="~/images/dark-logo.svg" alt="">
						</div>
					</a>
					<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
						<div class="offcanvas-header">
							<div class="offcanvas-logo" id="offcanvasNavbarLabel">
										<img src="~/images/logo-icon.svg" alt="">
							</div>
							<button type="button" class="close-btn" data-bs-dismiss="offcanvas" aria-label="Close">
								<i class="fa-solid fa-xmark"></i>
							</button>
						</div>
						<div class="offcanvas-body">
														
							<ul class="navbar-nav justify-content-end flex-grow-1 pe_5">
								<li class="nav-item">
									<a asp-controller="Home" asp-action="Index" class="nav-link active" aria-current="page">Home</a>
								</li>
								
							</ul>
						</div>
						<div class="offcanvas-footer">
							<div class="offcanvas-social">
								<h5>Follow Us</h5>
								<ul class="social-links">
									<li><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
									<li><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
									<li><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
									<li><a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a>
									<li><a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
								</ul>
							</div>
						</div>
					</div>
					<div class="right-header order-2">
						<ul class="align-self-stretch">
							
							<li class="dropdown account-dropdown">
								<a href="#" class="account-link" role="button" id="accountClick" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
									<img src="images/profile-imgs/img-11.jpg" alt="">
									<i class="fas fa-caret-down arrow-icon"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-account dropdown-menu-end" aria-labelledby="accountClick">
									<li>
										<div class="dropdown-account-header">
											<div class="account-holder-avatar">
												<img src="~/images/profile-imgs/img-11.jpg" alt="">
											</div>
											<h5>@User.Identity.Name</h5>
											
										</div>
									</li>
									<li class="profile-link">
										<a asp-controller="Events" asp-action="Index" class="link-item">My Events</a>
										<a asp-controller="Basket" asp-action="Index" class="link-item">Basket</a>
									    <a asp-controller="Order" asp-action="OrderHistory" class="link-item">Order History</a>
										<a asp-controller="User" asp-action="Index" class="link-item">My Profile</a>									
										<a asp-controller="Auth" asp-action="SignIn" class="link-item">Sign Out</a>									
									</li>
								</ul>
							</li>
							<li>
								<div class="night_mode_switch__btn">
									<div id="night-mode" class="fas fa-moon fa-sun"></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="overlay"></div>
		</div>
		</header>
		}
	}

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	@{
		var currentController2 = ViewContext.RouteData.Values["Controller"].ToString();
		var currentAction2 = ViewContext.RouteData.Values["Action"].ToString();

		if (!(currentController2.Equals("Auth", StringComparison.OrdinalIgnoreCase) && currentAction2.Equals("SignIn", StringComparison.OrdinalIgnoreCase)))
		{
			//<footer class="footer">
			//	<div class="footer-top">
			//		<div class="container">
			//			<div class="row">
			//				<div class="col-lg-3 col-md-6">
			//					<div class="footer-content">
			//						<h4>Company</h4>
			//						<ul class="footer-link-list">
			//							<li><a class="footer-link">About Us</a></li>
			//							<li><a class="footer-link">Help Center</a></li>
			//							<li><a  class="footer-link">FAQ</a></li>
			//							<li><a  class="footer-link">Contact Us</a></li>
			//						</ul>
			//					</div>
			//				</div>
			//				<div class="col-lg-3 col-md-6">
			//					<div class="footer-content">
			//						<h4>Useful Links</h4>
			//						<ul class="footer-link-list">
			//							<li><a class="footer-link">Create Event</a></li>
			//							<li><a  class="footer-link">Sell Tickets Online</a></li>
			//							<li><a  class="footer-link">Privacy Policy</a></li>
			//							<li><a  class="footer-link">Terms & Conditions</a></li>
			//						</ul>
			//					</div>
			//				</div>
			//				<div class="col-lg-3 col-md-6">
			//					<div class="footer-content">
			//						<h4>Resources</h4>
			//						<ul class="footer-link-list">
			//							<li><a  class="footer-link">Pricing</a></li>
			//							<li><a  class="footer-link">Blog</a></li>
			//							<li><a  class="footer-link">Refer a Friend</a></li>
			//						</ul>
			//					</div>
			//				</div>
			//				<div class="col-lg-3 col-md-6">
			//					<div class="footer-content">
			//						<h4>Follow Us</h4>
			//						<ul class="social-links">
			//							<li><a  class="social-link"><i class="fab fa-facebook-square"></i></a>
			//							<li><a  class="social-link"><i class="fab fa-instagram"></i></a>
			//							<li><a  class="social-link"><i class="fab fa-twitter"></i></a>
			//							<li><a  class="social-link"><i class="fab fa-linkedin-in"></i></a>
			//							<li><a  class="social-link"><i class="fab fa-youtube"></i></a>
			//						</ul>
			//					</div>
			//					<div class="footer-content">
			//						<h4>Download Mobile App</h4>
			//						<div class="download-app-link">
			//							<a class="download-btn"><img src="images/app-store.png" alt=""></a>
			//							<a class="download-btn"><img src="images/google-play.png" alt=""></a>
			//						</div>
			//					</div>
			//				</div>
			//			</div>
			//		</div>
			//	</div>
			//	<div class="footer-bottom">
			//		<div class="container">
			//			<div class="row">
			//				<div class="col-12">
			//					<div class="footer-copyright-text">
			//						<p class="mb-0">© 2022, <strong>Barren</strong>. All rights reserved. Powered by Gambolthemes</p>
			//					</div>
			//				</div>
			//			</div>
			//		</div>
			//	</div>
			//</footer>

		}
	}
	<script src="~/js/jquery-3.6.0.min.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/vendor/OwlCarousel/owl.carousel.js"></script>
	<script src="~/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="~/js/custom.js"></script>
	<script src="~/js/night-mode.js"></script>

	

	<!--
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)-->


</body>
</html>
